body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #330c3b;
}

img {
  width: 70px;
  margin-top: 15px;
}

h1 {
  color: #d6d1bf;
  font-weight: bold;
  margin: 10px 0;
}

table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  border-top: 5px solid #000000; /* Top border for the table */
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #555;
}

thead {
  background-color: #330c3b; 
  color: #000000; 
  border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
  background-color: #726486;
}

tr:nth-child(odd) {
  background-color: #f6e5e5; 
}

